[Desktop Entry]
Type=Application
Name=Log Lens
GenericName=Log Viewer
Comment=A cross-platform IDE for browsing logs
Exec=loglens
Icon=io.github.dennisdms.LogLens
Terminal=false
Categories=Development;Utility;
StartupWMClass=io.github.dennisdms.LogLens
Keywords=logs;elasticsearch;search;
